@media only screen and (max-width: 873px) {
    header nav ul li {
        margin-left: 12px;
    }
    header nav ul li:first-of-type {
        margin-right: 0
    }
    .what_we_do .cards {
        justify-content: center;
    }
    .tools .tools_box_text {
        max-width: 392px;
        margin-left: 15px;
    }
    .sunset {
        padding-right: 30px
    }
    .monstera {
        padding-right: 30px
    }
    .past_clients_icons {
        justify-content: space-around;
    }
    .star {
        padding-right: 30px
    }
    footer .right_first ul {
        min-width: 140px;
    }
    footer form {
        max-width: 380px
    }
    footer .container {
        justify-content: space-around;
    }
}


@media only screen and (max-width: 794px) {
    header nav ul li a{
        font-size: 11px;
    }
    header nav ul li {
        margin-left: 8px;
    }
    .tools .tools_box_text {
        max-width: 330px
    }
    .nav-but-wrap {
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 0;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
    /*.nav__list-item {*/
    /*    position: relative;*/
    /*    display: block;*/
    /*    -webkit-transition-delay: 0.8s;*/
    /*    transition-delay: 0.8s;*/
    /*    opacity: 0;*/
    /*    text-align: center;*/
    /*    color: #fff;*/
    /*    overflow: hidden;*/
    /*    font-family: 'Montserrat', sans-serif;*/

    /*    font-weight: 900;*/
    /*    line-height: 1.15;*/
    /*    letter-spacing: 3px;*/
    /*    -webkit-transform: translate(100px, 0%);*/
    /*    transform: translate(100px, 0%);*/
    /*    -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;*/
    /*    transition: opacity .2s ease, -webkit-transform .3s ease;*/
    /*    transition: opacity .2s ease, transform .3s ease;*/
    /*    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;*/
    /*    margin-top: 0;*/
    /*    margin-bottom: 0;*/
    /*}*/
    /*.nav__list-item a{*/
    /*    position: relative;*/
    /*    text-decoration: none;*/
    /*    color: rgba(255,255,255,0.6);*/
    /*    overflow: hidden;*/
    /*    cursor: pointer;*/
    /*    padding-left: 5px;*/
    /*    padding-right: 5px;*/
    /*    font-weight: 900;*/
    /*    z-index: 2;*/
    /*    display: inline-block;*/
    /*    text-transform: uppercase;*/
    /*    -webkit-transition: all 200ms linear;*/
    /*    transition: all 200ms linear;*/
    /*}*/
    /*.nav__list-item a:after{*/
    /*    position: absolute;*/
    /*    content: '';*/
    /*    top: 50%;*/
    /*    margin-top: -2px;*/
    /*    left: 50%;*/
    /*    width: 0;*/
    /*    height: 0;*/
    /*    opacity: 0;*/
    /*    background-color: #8167a9;*/
    /*    z-index: 1;*/
    /*    -webkit-transition: all 200ms linear;*/
    /*    transition: all 200ms linear;*/
    /*}*/
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    header nav ul {
        display: block;
    }
}


@media only screen and (max-width: 707px) {

    footer .left_first {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 685px) {
    .tools .tools_box_text {
        max-width: 250px
    }
    .past_clients .past_clients_icons a:nth-child(1) img {
        height: 25px;
    }
    .past_clients .past_clients_icons a:nth-child(2) img {
        height: 60px;
    }
    .past_clients .past_clients_icons a:nth-child(3) img {
        height: 18px;
    }
    .past_clients .past_clients_icons a:nth-child(4) img {
        height: 30px;
    }
    .past_clients .past_clients_icons a:nth-child(5) img {
        height: 25px;
    }

    footer form {
        max-width: 300px
    }
}

@media only screen and (max-width: 600px) {
    .tools .by_img {
        position: relative;
        width: 100%;
        height: 400px;
    }
    .tools .container {
        justify-content: center;
    }
    .tools .tools_box_text {
        max-width: 400px
    }
}
@media only screen and (max-width: 550px) {
    .past_clients .past_clients_icons a:nth-child(1) img {
        height: 20px;
    }
    .past_clients .past_clients_icons a:nth-child(2) img {
        height: 50px;
    }
    .past_clients .past_clients_icons a:nth-child(3) img {
        height: 15px;
    }
    .past_clients .past_clients_icons a:nth-child(4) img {
        height: 25px;
    }
    .past_clients .past_clients_icons a:nth-child(5) img {
        height: 22px;
    }
    footer .left_first {
        max-width: 250px;
        margin: auto;
    }
    footer form {
        max-width: 270px
    }
}

@media only screen and (max-width: 428px) {
    .main_banner {
        height: calc(80vh - -30px);
    }
    .sunset {
        padding-right: 10px;
    }
    .tools .container {
        min-height: 270px;
    }
    .tools .by_img {
        height: 300px;
    }
    .monstera {
        padding-right: 10px
    }
    .past_clients .past_clients_icons {
        flex-direction: column;
    }
    .past_clients .past_clients_icons a:nth-child(1) img {
        height: inherit;
    }
    .past_clients .past_clients_icons a:nth-child(2) img {
        height: inherit;
    }
    .past_clients .past_clients_icons a:nth-child(3) img {
        height: inherit;
    }
    .past_clients .past_clients_icons a:nth-child(4) img {
        height: inherit;
    }
    .past_clients .past_clients_icons a:nth-child(5) img {
        height: inherit;
    }
    .past_clients {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .past_clients .past_clients_icons a {
        padding-bottom: 15px;
    }
    .box_text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer {
        padding: 30px 0;
    }
    footer .container {
        flex-wrap: wrap;
    }
    footer .container .left_first a {
        display: flex;
        justify-content: center;
    }
    footer .left_first p {
        margin-bottom: 30px;
        text-align: center;
    }
    footer .left_first h4 {
        text-align: center;
    }
    footer .container:nth-child(3) {
        display: block;
        padding-top: 20px;
    }
    footer .container:nth-child(3) ul {
        justify-content: center;
    }
    footer .container .left_first {
        max-width: 330px;
    }
}


@media only screen and (max-width: 328px) {
    .bottom_icons li {
        margin-left: 8px;
    }
    .main_banner article h3 {
        font-size: 10px;
    }
    .main_banner article h1 {
        font-size: 48px;
    }
    .main_banner article p {
        font-size: 12px;
    }
    .what_we_do h3 {
        font-size: 36px;
    }
    .what_we_do h4 {
        font-size: 18px;
    }
    .tools .tools_box_text h4 {
        font-size: 10px;
    }
    .tools .tools_box_text h3 {
        font-size: 24px;
    }
    .tools .tools_box_text p {
        font-size: 10px;
    }
    .past_clients div h3 {
        font-size: 36px;
    }
    .past_clients div h4 {
        font-size: 21px;
        margin-bottom: 30px;
    }
    .box_text h2 {
        font-size: 35px;
    }
    .box_text p {
        font-size: 20px;
    }



}