header {
    background-color: #181818;
    padding-top: 24px;
    padding-bottom: 24px;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
header nav ul li:first-of-type {
    margin-right: 24px;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type {
    margin-left: 31px;
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font-size: 16px;
    color: #181818;
}

/*main banner*/

.main_banner {
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;

}
.main_banner article {
    max-width: 580px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.main_banner article h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner article h1{
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
     color: #C0C0C0;
}

/*sunset*/

.sunset {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
    position: relative;
}
.sunset article {
    max-width: 298px;
}
.sunset article h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*monstera*/

.monstera {
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 87px;
    box-sizing: border-box;
    position: relative;
}
.monstera article{
    max-width: 273px;
}
.monstera article h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monstera article p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*star*/

.star{
    background-image: url("../images/star.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 119px;
    box-sizing: border-box;
    position: relative;
}
.star article{
    max-width: 254px;
}
.star article h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star article p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*box_text*/

.box_text {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
    box-sizing: border-box;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_text div{
    max-width: 571px;
}
.box_text h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.box_text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.box_text a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 154px;
    margin: auto;
}
.box_text a::before{
    content: "";
    width: 32px;
    height: 32px;
    background: black;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 6px 5px 4px;
}

/*What_we_do*/

.what_we_do {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 84px;

}

.what_we_do_container {
    max-width: 1168px;
    margin: auto;

}
.what_we_do h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;

}
.what_we_do h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.what_we_do .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.what_we_do .cards article {
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;

}
.what_we_do .cards article img {
    display: block;
    width: 100%;

}
.what_we_do .description h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}

.what_we_do .description a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 154px;

}
.what_we_do .description a::before {
    content: "";
    width: 32px;
    height: 32px;
    background: black;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 6px 5px 4px;
}


/*Past clients*/

.past_clients {
    padding-top: 113px;
    padding-bottom: 140px;
    background: #000000;
}
.past_clients div {
    max-width: 1076px;
    margin: auto;
}
.past_clients div h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients div h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* bottom ICONS */

.bottom_icons {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    list-style: none;
}
.bottom_icons li {
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.bottom_icons li:before {
    content: "";
    display: inline-block;
    background-image: url("../icons/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -6px;
}
.bottom_icons li:nth-child(2):before {
    background-image: url("../icons/icon_2.svg");
}
.bottom_icons li:nth-child(3):before {
    background-image: url("../icons/icon_3.svg");
    width: 32px;
}
.bottom_icons li:nth-child(4):before {
    background-image: url("../icons/icon_4.svg");
    width: 10px;
}

/*    tools    */

.tools {
    position: relative;
    min-height: 540px;
    background-color: black;
}
.tools .container {
    margin: auto;
    max-width: 1240px;
    min-height: 540px;
    display: flex;
    align-items: center;
}
.tools .by_img {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/tools.jpg");
    background-size: cover;
}
.tools .tools_box_text {
    max-width: 514px;
}
.tools .tools_box_text h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}
.tools .tools_box_text h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.tools .tools_box_text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.tools .tools_box_text a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 154px;

}
.tools .tools_box_text a::before {
    content: "";
    width: 32px;
    height: 32px;
    background: black;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 6px 5px 4px;
}

/*   F O O T E R  */

footer {
    background-color: black;
    padding: 100px 0;
}
footer .container {
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
footer .container:nth-child(2){
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    padding: 40px 0;
}
footer .right_first {
    display: flex;
}
footer .right_first ul{
    min-width: 220px;
    margin-left: 15px;
}
footer .right_first ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}
footer .right_first ul li:first-child{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
footer .right_first ul li {
    margin-bottom: 10px;
}
footer .left_first a img{
    margin-bottom: 20px;
}
footer .container:nth-child(1) {
    padding-bottom: 26px;
}
footer form {
    width: 100%;
    max-width: 458px;
    background-color: #F9FAFB;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
    box-sizing: border-box;
    height: 52px;
}
footer form input {
    line-height: 52px;
    border: none;
    background-color: transparent;
    width: 80%;
}
footer form button {
    width: 63px;
    height: 30px;
    background: #000000;
    border-radius: 11px;
    border: none;
    cursor: pointer;
}
footer .left_first p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
footer .left_first h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
footer .container:nth-child(3) {
    padding-top: 56px;
}
footer .container:nth-child(3) ul{
    display: flex;
}
footer .container:nth-child(3) ul li {
    margin-left: 20px;
}
footer .container:nth-child(3) p a{
    /*font-family: 'Poppins', sans-serif;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-size: 13px;*/
    /*line-height: 20px;*/
    color: #C0C0C0;
    text-decoration: none;
    margin-left: 4px;
}



@keyframes shake {
    0%{
        position: absolute;
    }
    10%{
        left: 3%;
        top: 2%;
        transform: rotate(90deg);
    }
    30%{
        left: 6%;
        top: 4%;
        transform: rotate(120deg);
    }
    50%{
        left: 8%;
        top: 8%;
        transform: rotate(180deg);
    }
    70%{
        left: 10%;
        top: 12%;
        transform: rotate(260deg);
    }
    100%{
        left: 14%;
        top: 18%;
        transform: rotate(360deg);
    }
}

.shake {
    width: 100px;
    height: 300px;
    background-color: red;
    position: absolute;
    z-index: 10;
    animation: shake infinite 8s;

}